<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Polarship</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />

</head>

<body class="is-preload homepage">
    <div id="page-wrapper">

        <!-- Header -->
        <div id="header-wrapper">
            <header id="header" class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="./main">Polarship</a></h1>
                    <span>by KUBL</span>
                </div>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a href="./introduction">Polarship소개</a></li>
                        <li><a href="./boardList">토큰 둘러보기</a></li>
                        <li><a href="./loginForm">로그인</a></li>
                        <li><a href="./loginForm">회원가입</a></li>
                    </ul>
                </nav>

            </header>
        </div>

		<!-- Main -->
		<div id="main-wrapper">
			<div class="container">
				<div id="content">

					<!-- Content -->
					<article>

						<h2>인사말</h2>
						<h3>꿈과 희망을 함께 나누는 따뜻한 세상을 만들어 갑니다.</h3>
						<img src="../../public/images/kubl_team.jpg" style="width:25%" class="inline">
						<p>안녕하십니까? 주위를 둘러보면 아직도 우리사회에는 어려운 환경으로 소중한 꿈을 포기하는 학생들과 이 사회의 그늘에서 따뜻한 도움의 손길을 필요로 하며, 희망을 잃어가는 소외된 이웃들이 많습니다. 우리 재단은 이러한 이들에게 도움을 주고자 하는 롯데그룹의 창업주 신격호 총괄회장의 깊은 뜻에 따라 설립되어 현재까지 장학 및 복지 사업을 꾸준히 펼쳐오고 있습니다. 1983년, 롯데 장학재단은 우수한 자질과 능력을 갖춘 학생이 학업에 정진할 수 있는 기회를 주어야 한다는 취지로 설립되었습니다. 국내와 아시아 지역의 꿈을 가진 학생에게 장학금 지원과 교육, 학술지원 사업을 통하여 미래 인재를 키워 나가고 있습니다. 또한, 한국에서 근로하다가 산업재해를 당한 외국인 근로자들을 인도적 차원에서 지원할 목적으로 롯데복지재단을 1994년에 설립하였고, 외국인 근로자 지원 외에 장애인, 소외이웃 지원 및 글로벌 구호 사업 등으로 확대해 나가고 있습니다. 2009년에는 롯데그룹 창업주의 고향인 울산지역의 발전과 복지에 기여하고자 롯데삼동복지재단을 설립하여 다양한 복지 사업을 통한 고향 사랑을 실천하고 있습니다. 앞으로 우리 재단은 미래를 이끌어갈 진정한 인재를 육성하고, 소외된 이웃들이 그들의 희망을 버리지 않고 다시 일어설 수 있도록 최선의 노력을 다해 나갈 것입니다. 꿈과 희망을 함께 나누는 따뜻한 세상을 만들어 가고자 하는 우리 재단의 발걸음을 관심 있게 지켜봐 주시기를 바랍니다. 감사합니다.
						</p>

						<div align="right">
							<p>고려대학교 블록체인학회<br>
								<span style="font-weight:bold">쿠블</span>
							</p>
						</div>

					</article>

				</div>
			</div>
		</div>

        <!-- Footer -->
        <div id="footer-wrapper">
            <footer id="footer" class="container">
                <div class="row">
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Team info</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Notification</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Links -->
                        <section class="widget links">
                            <h3>Guide</h3>
                            <ul class="style2">
                                <li><a href="#">Etiam feugiat condimentum</a></li>
                                <li><a href="#">Aliquam imperdiet suscipit odio</a></li>
                                <li><a href="#">Sed porttitor cras in erat nec</a></li>
                                <li><a href="#">Felis varius pellentesque potenti</a></li>
                                <li><a href="#">Nullam scelerisque blandit leo</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-3 col-6-medium col-12-small">

                        <!-- Contact -->
                        <section class="widget contact last">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="https://www.facebook.com/KOREAUBL/" class="icon fa-facebook"></a></li>
                                <li><a href="https://steemit.com/@kublock"><img border="0" src="../../public/images/icon_steemit.gif" width="40" height="40"></a></li>
                            </ul>
                            <p>개발팀: kubl.dvlp@gmail.com<br>다른팀: 이메일주소<br></p>
                        </section>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="copyright">
                            <ul class="menu">
                                <li>Copyright &copy; 2018 <span style="font-weight:bold">KUBL</span> All rights reserved</li>
                                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>



        <!-- Scripts -->

        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.dropotron.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>



    </body>

    </html>
